/* ===== <COLORS> =================================== */

:root {
	/* base */
	--black: #0E0C15;
	--white: #fff;
	/* accent */
	--primary: #1c64f2;
	--primaryLight: #4785FF;
	--strong: #073CA4;
	--strongDown: #0E3176;
	/* gray scale */
	--gray1: #616D8D;
	--gray2: #313E62;
	--gray3: #222B44;
	--gray4: #121825;
	--gray5: #374151;
	--gray6: #9CA3AF;
	--gray7: #171E2F;
	/* other */
	--premiumGradient: linear-gradient(90deg, rgba(28, 100, 242, 1) 0%, rgba(212, 28, 242, 1) 100%);
	--critic: #FE4242;
	--purple: #941CF2;
	--aqua: #1CB2F2;
	--orange: #F29C1C;
	--green: #1ABB34;
	--yellow: #F2DD1C;
	--pink: #EE1CF2;
	--gpt-3-5-color: #28A08C;
	--gpt-4-color: #735FFA;
	--dalle-color: #3876D3;
}

/* ===== <LAYOUT_STYLES> =================================== */

.wrapper {
	height: 100%;
	overflow: auto;
	background-color: var(--black);
}

.container {
	max-width: 1370px;
	width: 100%;
	padding: 0 40px;
	margin: 0 auto;

	@media (max-width: 550px) {
		padding: 0 20px;
	}
}

button div {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* ===== <HEADER> =================================== */

.header {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	backdrop-filter: blur(18px);

	&__wrapper {
		background-color: rgba(18, 24, 37, 0.4);
		border-bottom: 1px solid var(--gray3);
		padding: 20px 0;
		position: relative;
		z-index: 1;
	}

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__main {
		display: flex;
		align-items: stretch;
		gap: 24px;

		a {
			display: flex;
			align-items: center;
		}
	}

	&__info {
		display: flex;
		align-items: center;
		gap: 36px;

		@media (max-width: 375px) {
			gap: 24px;
		}
	}

	&-menu {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 0;
		width: 100%;
		height: 100%;
		padding: 81px 0 0 0;
		overflow: auto;

		&__wrapper {
			padding: 42px 0;
			background-color: var(--black);
			overflow: auto;
		}

		.navbar {
			&__list {
				display: flex;
				align-items: flex-start;
				gap: 38px;
				flex-direction: column;
			}

			&__list,
			&__item {
				width: 100%;
			}

			&__link {
				display: flex;
				justify-content: space-between;
			}

			&-dropdown {
				margin: 14px 0 0 0;
				position: static;
				width: auto;
				translate: 0;
				border: 0;
				border-radius: 0px;
				background-color: var(--gray4);
				padding: 18px 0;
				row-gap: 18px;
				column-gap: 37px;

				@media (max-width: 550px) {
					padding: 14px 0;
				}

				&__item {
					flex: 0 0 324px;
				}
			}
		}
	}
}

.lang-dropdown {
	background-color: transparent;
	position: relative;

	&__main {
		display: flex;
		align-items: center;
		cursor: pointer;

		svg {
			path {
				fill: var(--white);
				transition: 250ms;
			}

			&:last-child {
				margin: 0 0 0 8px;
			}
		}

		&:hover {
			svg path {
				fill: var(--primary);
			}

			.lang-dropdown {
				&__value {
					color: var(--primary);
				}
			}
		}
	}

	&__value {
		margin: 0 0 0 6px;
		font-weight: 600;
		font-size: 16px;
		line-height: calc(22/16);
		color: var(--white);
		text-transform: uppercase;
		transition: 250ms;
	}

	&__body {
		padding: 10px 0;
		position: absolute;
		left: 0;
		top: 100%;
		translate: 0 16px;
		border: 1px solid var(--gray2);
		background-color: var(--gray3);
		border-radius: 8px;
		width: 78px;
	}

	&__item {
		padding: 5px 0;
		text-align: center;
		font-weight: 600;
		font-size: 16px;
		line-height: calc(22/16);
		color: var(--white);
		text-transform: uppercase;
		transition: 250ms;
		cursor: pointer;

		&:hover {
			background-color: var(--gray2);
		}
	}

	&--active {
		svg path {
			fill: var(--primary);
		}

		.lang-dropdown {
			&__value {
				color: var(--primary);
			}
		}
	}
}

.navbar {
	display: flex;
	align-items: center;

	&__list {
		display: flex;
		align-items: center;
		gap: 34px;
	}

	&__item {
		position: relative;
	}

	&__link {
		display: flex;
		align-items: center;
		gap: 10px;
		cursor: pointer;
		transition: 250ms;

		svg path {
			fill: var(--white);
		}

		&:hover {
			@media (hover: hover) and (pointer: fine) {
				opacity: 0.5;
			}
		}
	}

	&-dropdown {
		width: 704px;
		position: absolute;
		left: 0;
		top: 100%;
		translate: 0 16px;
		background-color: var(--gray3);
		border: 2px solid var(--gray2);
		border-radius: 17px;
		display: flex;
		flex-wrap: wrap;
		row-gap: 12px;
		column-gap: 40px;
		padding: 20px;

		&__item {
			flex: 0 0 calc(50% - 20px);
			padding: 14px;
			display: flex;
			align-items: center;
			gap: 14px;
			cursor: pointer;
			border-radius: 12px;
			transition: 250ms;

			&:hover {
				@media (hover: hover) and (pointer: fine) {
					background-color: var(--gray2);
				}
			}
		}

		&__icon {
			flex: 0 0 36px;
			height: 36px;
			border-radius: 10px;
			background: var(--premiumGradient);
			display: flex;
			justify-content: center;
			align-items: center;
		}

		&__content {
			display: flex;
			flex-direction: column;
			gap: 4px;
		}
	}
}